body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* 让布局占满整个页面 */
}

.left-section {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  max-width: 1000px;
}


label {
  font-size: 1.1em;
  display: block;
  color: #555;
}

.input-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 3.8em;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.input-title:focus {
  outline: none;
  border: 1px solid #4899f8; /* 聚焦时的边框颜色 */
}

.editable {
  padding: 15px;
  background-color: #fff;
  font-size: 1.1em;
  line-height: 1.6;
  border-radius: 5px;
  overflow-y: auto;
  min-height: 200px;
}


.right-section {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  margin-right: 29px;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.platform-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.platform-item:hover {
  background-color: #f1f1f1;
}

.platform-label {
  font-size: 1.1em;
  margin-left: 10px;
  color: #333;
}

.publish-btn {
  background-color: #4899f8; /* 主色调 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.publish-btn:hover {
  background-color: #357bb5; /* 悬停时的颜色变化 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* 响应式布局 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    border: none;
  }

  .platform-item {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}

.loading-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-content {
  text-align: -webkit-center;
  color: white;
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid #4899f8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#loadingText {
  font-size: 1.2em;
}

.content{
  background-color: #f84866;
}
